.container div {
    width: 120px;
    height: 120px;
  }
  .red-square {
    background-color: #f0002c;
    position: relative;
    top: 50px;
    left: 50px;
  }
  .pink-square {
    background-color: #e0abd8;
    position: relative;
    left: 120px;
  }
  .yellow-square {
    background-color: #f0c800;
    position: relative;
    left: 190px;
    bottom: 50px;
  }
  .green-square {
    background-color: #32a852;
    position: relative;
    left: 260px;
    bottom: 100px;
  }
  .blue-square {
    background-color: #0486d6;
    position: relative;
    left: 330px;
    bottom: 150px;
  }